* {
    box-sizing: border-box;
}

html {
    /* font-family: lato, sans-serif; */
    /* color: var(--clrPrimary); */
    /* line-height: 1.25rem; */
}

body {
    margin: 0;
    background-color: var(--clrPrimary);
    color: var(--clrSecondary);
}

main {
   
}

button{
    cursor: pointer;
    border: 2px solid var(--clrSecondary-1);
    background-color: transparent;
}