.main-layout {
    display: grid;
}

.main-layout>*.full {
    grid-row: 1;
}

.meme-layout {
    display: grid;
    grid-auto-flow: row;
}

.meme-layout .canvas-container {
    grid-row: 2;
}

.meme-layout .actions-container {
    grid-row: 4;
}

.actions-layout {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.gallery-layout {
    grid-template-columns: repeat(2, 1fr); 
}
