.main-layout {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1/-1;
}

.meme-layout {
    display: grid;
    grid-template-columns: 15px 1fr 10px 1fr 15px;
}

.meme-layout .canvas-container {
    grid-column: 2;
}

.meme-layout .actions-container {
    grid-column: 4;
}

.actions-layout {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
}