.actions-container {
    height: 95%;
    gap: 1rem;
    padding-block: 40px;
}

.actions-container .icon {
    width: 60%;
}

.actions-container .txt-actions {
    background-color: var(--clrSecondary-1);
    color: #ffffff;
    place-self: center;
    padding: 1em;
    gap: 0.5rem;
    width: 100%;
}

.actions-container input {
    height: 2rem;
    border: none;
    background-color: transparent;
}

.actions-container .txt-input {
    flex-grow: 1;
    border-bottom: 2px solid var(--clrSecondary);
    outline: none;
}

.actions-container button {
    height: 3.7rem;
    width: 3.7rem;
}

.actions-container .basic-actions,
.share-and-import {
    justify-content: center;
    gap: 1.3rem;
}

.actions-container select {
    height: 3rem;
    align-self: center;
    background-color: transparent;
    border: 2px solid var(--clrSecondary-1);
}

.actions-container i {
    color: black;
    width: 100%;
    font-size: 1rem;
}

.actions-container .stickers {
    display: grid;
    grid-auto-flow: column;
    height: 3.5rem;
    border: 2px solid var(--clrSecondary-1);
    place-items: center;
}

.actions-container .stickers button {
    background-color: transparent;
    border: none;
}

.actions-container .stickers img {
    width: 60%;
}