.main-gallery-container{
  gap: 2rem;
  background-color: var(--clrPrimary1);
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-gallery, .local-gallery {
  gap: 14px;

}

.main-gallery img ,.local-gallery img{
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.img-container{
  position: relative;
  display: grid;
}

.local-gallery .img-container:hover .img{
  opacity: 20%;
}

.local-gallery .img-container:hover .icon{
  display: block;
}

.local-gallery .icon {
  position: absolute;
  width: 5rem;
  padding: 0.8rem;
  place-self: center;
  border: 1px solid black;
}

.main-gallery-container header{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}

.main-gallery-container header .input-list {
  height: 3rem;
  width: 60%;
  border-radius: 3rem;
  background-color: var(--clrPrimary-2);
}

/* .main-gallery-container header .most-searched {
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--clrPrimary-2);
} */

.main-gallery-container header .search-btn{
  width: 2.8rem;
  height: 2.8rem;
  background-color: transparent;
  margin-inline-start: 0.5rem;
}

.main-gallery-container header .search-btn img{
  width: 80%;
}

.main-gallery-container header .upload{
  display: grid;
  place-items: center;
  background-color: var(--clrPrimary-2);
  height: 3rem;
  border-radius: 3rem;
  width: 7rem;
  justify-self: end;
  cursor: pointer;
}

.main-gallery-container header i {
  font-size: 1.4rem;
  color: var(--clrPrimary1);
}