:root {
   /* PALLETE */
   --clrPrimary3: #1e1e1e;
   --clrPrimary2: #292929;
   --clrPrimary1: #FFBE98;
   --clrPrimary: #FEECE2;
   --clrPrimary-1: #265073;
   --clrPrimary-2: #c2c1c1;
   --clrPrimary-3: #f8f8f8;
   --clrPrimary-4: #ffffff;

   --clrSecondary: #efa981;
   --clrSecondary-1: #FEECE2;
   

   /* layout */
   --headerHeight: 100px;

   /* mq */
   --l: 1060px;
   --m: 860px;
   --s: 600px;
}